body{
  height: 100%;
  width: 100%;
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background: url(../images/backdrop.png);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.no-margin-padding{
  margin: 0 !important;
  padding: 0 !important;
}
.question-img{
  background: url(../images/question_rounded_darkwine.png);
  background-size:100% 100%;
  height: 100%;
  width: 100%;
  //object-fit: inherit;
  z-index: 20;
  text-align: center;



  display: table; //doesn't do anything to image, but it centers the text div inside it

}

#div_QuestionStatement{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.my-answer-option{
  display: table;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  h5{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

}