$color_dark_green : #075B51 ;

.form-rounded {
  border-radius: 50rem;
}


#div_TopRow {
  background: $color_dark_green;
  min-height: 60px;

  h6{
    margin-top: 20px;
    color: white;
    font-weight: bold;
  }
}

#img_profilePic{
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 5px;
}

#chatHistory {
  margin-top: 70px;
}

#div_bottomMsgRow{
  background: #EDEDED;
  //bottom: 0px;
  padding: 10px;
  padding-right: 10px;
}



#chatMessageValue{
  position: relative;
  z-index: 1;
  min-height: 20px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 15px;
  font-weight: 400;
  color: var(--compose-primary);
  word-wrap: break-word;
  white-space: pre-wrap;
  outline: none;
}




#chatMessageSend, #btn_showAttachmentsSheet, #btn_showSmileyKeyboard {
  padding: 0 ;
  padding-right: 10px;
  outline:none;
  border-style: none;
  background: #EDEDED;
  color: $color_dark_green;

}




/**  Style of the message sent and received boxes  */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}
